<template>
    <div class="buy-product">

        <h1 class="title">{{ productById.name }}</h1>

        <div class="info">

            <img :src="`${productById.image}`">

            <div class="description">
                <label> <strong>Referencia: </strong> {{ productById.id }}</label>
                <br>
                <label> <strong>Nombre: </strong> {{ productById.name }}</label>
                <br>
                <label> <strong>Target: </strong> {{ productById.target }} </label>
                <br>
                <label> <strong>Categoría: </strong> {{ productById.category }}</label>
                <br>
                <label> <strong>Talla: </strong> {{ productById.size }}</label>
                <br>
                <label> <strong>Precio: </strong> {{ productById.price }}  COP</label>
                <br>
                <button @click="processPurchase"> Comprar </button>
            </div>

        </div>

    </div>
</template>

<script>
import gql from "graphql-tag";
import jwt_decode from 'jwt-decode';

export default {
    name: "BuyProduct",
    
    data: function() {
        return {
            productById: {
                id: "",
                name: "",
                target: "",
                category: "",
                size: "",
                price: "",
                image: ""
            }
        }
    },

    apollo: {
        productById: {
            query: gql`
                query ($productId: String!){
                    productById (productId: $productId) {
                        id
                        name
                        target
                        category
                        size
                        price
                        image
                    }
                }
            `,
            variables() {
                return {
                    productId: this.$route.params.productId
                };
            },
        },
    },

    methods: {
        async processPurchase() {
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation ($sale: SaleInput!) {
                            createSale(sale: $sale) {
                                id
                                userId
                                productId
                                date
                            }
                        }
                    `,
                    variables: {
                        sale: {
                            userId: String(jwt_decode(localStorage.getItem("token_refresh")).user_id),
                            productId: this.$route.params.productId
                        }
                    },
                })
                .then((result) => {
                    alert("Compra Realizada Exitosamente");
                    this.$emit("loadHome");
                })
                .catch((error) => {
                    alert("ERROR: Fallo en la compra");
                });
        }
    },

    created: async function () {
        await this.$apollo.queries.productById.refetch();
    }
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.buy-product{
    font-family: 'Poppins', sans-serif;
}

.buy-product h1{
    text-align: center;
}

.info{
    margin: 40px;
    display: flex;
    width: 90;
}

.info img{
    width: 50%;
}

.info .description{
    width: 50%;
    margin-left: 60px;
    font-size: 20px;
}

.buy{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 50px;

}

.buy-info{
    font-size: 25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buy-info .labels{
    display: flex;
    flex-direction: column;
}


.description button{
    width: 80%;
    height: 30px;
    font-weight: 600;
	font-size: 16px;
    color: #334acc;
    margin-top: 15px;
    margin-bottom: 15px;
	background-color:rgba(0, 0, 0, 0);
	border: 1px solid ;
    border-radius: 8px;
	cursor: pointer;
}

.description button:hover{
    color: #fff;
	background-color: #334acc;
}

</style>