<template>
    <div id="Delivery" class="delivery">
        <div class="container_delivery">
            <h2>Realizar Pedido</h2><form v-on:submit.prevent="processDelivery">
            <input type="text" v-model="createDelivery.orderOrigin" placeholder="Refencia producto"/>
            <br />
            <input type="text" v-model="createDelivery.order" placeholder="carrito de compras"/>
            <br />
            <input type="number" v-model="createDelivery.quantity" placeholder="Cantidad"/>
            <br />
            <button type="submit">Realizar Pedido</button>
            </form>
        </div>
    </div>
</template>


<script>
import gql from "graphql-tag";
export default {
    name: "Delivery",
    data: function() {
        return {
            createDelivery: {
                orderOrigin: "",
                order: "",
                quantity: "",
            },
        };
    },
    methods: {
        processDelivery: async function() {
            if (localStorage.getItem("token_access") === null ||
                localStorage.getItem("token_refresh") === null ) {
                this.$emit("logOut");
                return;
            }
            localStorage.setItem("token_access", "");
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation ($refresh: String!) {
                            refreshToken(refresh: $refresh) {
                                access
                            }
                        }
                    `,
                    variables: {
                        refresh: localStorage.getItem("token_refresh"),
                    },
                })
                .then((result) => {
                    localStorage.setItem("token_access", result.data.refreshToken.access);
                })
                .catch((error) => {
                    this.$emit("logOut");
                    return;
                });
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation($delivery: OrdersInput!) {
                            createDelivery(delivery: $delivery) {
                                id
                                orderOrigin
                                order
                                quantity
                                value
                                date
                            }
                        }
                    `,
                    variables: {
                        delivery: this.createDelivery,
                    },
                })
                .then((result) => {
                    alert("Pedido Realizado de Manera Correcta, Revise su Historial");
                })
                .catch((error) => {
                    alert("Producto Insuficiente");
                });
        },
    },
};
</script>


<style>
.delivery {
    margin: 0;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_delivery {
    border: 3px solid #283747;
    border-radius: 10px;
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.delivery h2 {
    color: #283747;
}
.delivery form {
    width: 50%;
}
.delivery input {
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #283747;
}
.delivery button {
    width: 100%;
    height: 40px;
    color: #e5e7e9;
    background: #283747;
    border: 1px solid #e5e7e9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
}
.delivery button:hover {
    color: #e5e7e9;
    background: crimson;
    border: 1px solid #283747;
}
</style>