<template>
    <div class="home">

        <div class="information">
            <h1>¡Bienvenido <span>{{ userDetailById.name }}</span>!
            </h1>
            <div class="details">
                <h3>Su información es la siguiente:</h3>
                <h2>Nombre de usuario: <span>{{ userDetailById.name+" "+userDetailById.lastName }}</span></h2>
                <h2>Rol seleccionado: <span>{{ userDetailById.Rol }}</span></h2>
                <h2>Correo electrónico: <span>{{ userDetailById.email }}</span></h2>
            </div>
            <div class="update">
                <button @click="loadUpdateUser"> Actualizar Datos </button>
            </div>
            <div class="Productos" >
                <h1 class="h1">Imagínate como lucirías  </h1>
                <br>
                <div class="products-container">
                    <div v-for="(product, i) in products" :key="i">
                        <div class="product-card">
                            <img :src="`${product.image}`"/>
                            <span>{{product.name}}</span><br>
                            Target: {{product.target}}<br>
                            Categoria: {{product.category}}<br>
                            <h3>${{product.price}} COP</h3>
                            <div class="buttons">
                                <button @click="buyProduct(product.id)">Comprar Ahora</button>
                                <button >Añadir al Carrito</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="purchases">
            <h2>Compras Realizadas</h2>

            <div class="container-table">
                <table>
                    <tr>
                        <th># Factura</th>
                        <th>Producto</th>
                        <th>Referencia Producto</th>
                        <th>Precio</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                    </tr>
                    <tr v-for="sale in salesInfo" :key="sale.id">
                        <td>{{ sale.id }}</td>
                        <td>{{ sale.productName }}</td>
                        <td>{{ sale.productId }}</td>
                        <td>{{ sale.productPrice }} COP</td>
                        <td>{{ sale.date.substring(0, 10) }}</td>
                        <td>{{ sale.date.substring(11, 19) }}</td>
                    </tr>
                </table>
            </div>
        </div>

    </div>
</template>

<script>
import gql from "graphql-tag";
import jwt_decode from "jwt-decode";

export default {
    name: "Home",

    data: function () {
        return {
            userId: jwt_decode(localStorage.getItem("token_refresh")).user_id,
            userDetailById: {
                id: "",
                email: "",
                password: "",
                name: "",
                lastName: "",
                Rol: "",
            },
            salesInfo: []
        };
    },
    apollo: {
        userDetailById: {
            query: gql`
                query ($userId: Int!) {
                    userDetailById(userId: $userId) {
                        id
                        email
                        password
                        name
                        lastName
                        Rol
                    }
                }
            `,
            variables() {
                return {
                    userId: this.userId,
                };
            }
            
        },
        /* */
        products: {
            query: gql`
                query {
                    products {
                        id
                        name
                        target
                        category
                        size
                        price
                        image
                        inventory
                        lastChange
                    }
                }
            `,
            variables() {
                return {
                    name: this.name,
                };
            },
        },
        /* */

        salesByUser: {
            query: gql`
                query ($userId: String!) {
                    salesByUser(userId: $userId) {
                        id
                        userId
                        productId
                        date
                    }
                }
                `,

            variables() {
                return {
                    userId: String(this.userId)
                };
            },
        },
        

    },

    methods: {
        /* */
        loadUpdateUser(){
            this.$emit("loadUpdateUser");
        },
        buyProduct(productId){
            this.$emit('buyProduct', productId);
        },
    created: function () {
        this.$apollo.queries.products.refetch();
        },
        /* */
        async getSalesInfo() {
            for (let i=0; i<this.salesByUser.length ; i++){
                
                let result = await this.$apollo
                .query({
                    query: gql`
                        query ($productId: String!){
                            productById (productId: $productId) {
                                id
                                name
                                price
                            }
                        }
                    `,
                    variables: {
                        productId: this.salesByUser[i].productId
                    },
                })

                let saleInfo = {
                    id: this.salesByUser[i].id,
                    date: this.salesByUser[i].date,
                    productId: result.data.productById.id,
                    productName: result.data.productById.name,
                    productPrice: result.data.productById.price,
                }

                this.salesInfo.push(saleInfo);
            }

        }

    },

    async created() {
        await this.$apollo.queries.salesByUser.refetch();
        await this.$apollo.queries.userDetailById.refetch();
        await this.getSalesInfo();
    },
};
</script>


<style>

.information {
    padding: 3%;
    width: 35%;
    height: 70vh;

    flex-direction: column;
    justify-content: left;
    align-items: left;
    left: 5%;
    }
.information h1 {
    font-size: 40px;
    color: #283747;
}
.information h2 {
    font-size: 20px;
    color: #283747;
}
.information span {
    color: crimson;
    font-weight: bold;
}
.details h3 {
    font-size: 25px;
    color: #283747;
    text-align: left;
}
.details h2 {
    font-size: 25px;
    color: #283747;
}
.details {
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px 5%;
    margin: 10px 0 0 0;
    }

/* PRODUCTS */
.Productos{
    position: absolute;
    left: 40%;
    top: 10%;
    text-align: left;
    overflow-y:scroll;
    height:82%;
    width:60%;
}
.Productos .h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 85%;
}

.products-container{

    display: flex;
    flex-wrap: wrap;
 
    margin: 0 0 0 0;

}

.product-card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    text-align: left;
    transition: all 0.25s;
    background-color: #fcfbf7;
}

.product-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.product-card img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.product-card h4 {
    font-size: 20px;
    color: #283747;
}

.product-card span {
    color: crimson;
    font-weight: bold;
    font-size: large;
}

.product-card .buttons {
    display: flex;
    justify-content: space-around;
}

.product-card button{
    width: 120px;
    margin: auto;
    font-weight: 600;
    font-size: 16px;
    color: #287cea;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid ;
    border-radius: 8px;
    cursor: pointer;
}

.product-card button:hover{
    color: #fff;
    background-color: #287cea;
}
/* PURCHASES */
.purchases{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
    
}

.purchases .container-table{
    width:77%;
    max-height: 30vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 50px;
}

.purchases table{
width: 100%;
border-collapse: collapse;
border: 1px solid rgba(59, 60, 63, 0.3);
}

.purchases table td,
.purchases table th {
border: 1px solid #ddd;
padding: 8px;
}

.purchases table tr:nth-child(even) {
background-color: #e1e5ee;
}

.purchases table tr:hover{
background-color: #ddd;
}

.purchases table th{
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: crimson;
color: white;
}

.purchases > h2{
color: crimson;
font-size: 25px;
}
/* UPDATE */
.update {
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    width: 100%;
}
.update button {
    width: 90%;
    background: #47acf0;
    color: #242424;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
}
.update button:hover {
    cursor: pointer;
    background: #5efa92;
    transition: .6s;
}
</style>