<template>
    <div class="inventory">

        <div class="menu">
            <button @click="loadSales">Ventas</button>
            <button @click="showModal"> Agregar Producto </button>
        </div>

        
        <h1>Inventario</h1>

        <div class="container-table">
            <table>
                <tr>
                    <th>Referencia</th>
                    <th>Nombre</th>
                    <th>Target</th>
                    <th>Categoría</th>
                    <th>Talla</th>
                    <th>Precio</th>
                    <th>Inventario</th>
                    <th>Imagen</th>
                </tr>
                <tr v-for="product in products" :key="product.id">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.target }}</td>
                    <td>{{ product.category }}</td>
                    <td>{{ product.size }}</td>
                    <td>{{ product.price }}</td>
                    <td>{{ product.inventory }}</td>
                    <td>{{ product.image }}</td>
                </tr>
            </table>
        </div>

        <div v-if="isModalVisible" class="modal-backdrop">
            <div class="modal">
                <header class="modal-header">
                    <slot name="header">
                    Agregar Producto
                    </slot>
                    <button
                    type="button"
                    class="btn-close"
                    @click="closeModal"
                    >
                    x
                    </button>
                </header>

                <section class="modal-body">
                    <slot name="body">
                        <form v-on:submit.prevent="createProduct" >
                            <input type="text" v-model="product.id" placeholder="Referencia">
                            <br>
                            <input type="text" v-model="product.name" placeholder="Nombre">
                            <br>
                            <input type="text" v-model="product.target" placeholder="Target">
                            <br>
                            <input type="text" v-model="product.category" placeholder="Categoría">
                            <br>
                            <input type="text" v-model="product.size" placeholder="Talla">
                            <br>
                            <input type="text" v-model="product.image" placeholder="Imagen">
                            <br>
                            <input type="number" v-model="product.price" placeholder="Precio">
                            <br>
                            <input type="number" v-model="product.inventory" placeholder="Inventario">
                            <br>
                            <button type="submit">Agregar Producto</button>
                        </form>
                    </slot>
                </section>

            </div>
        </div>

    </div>
</template>

<script>
import gql from "graphql-tag";

export default {
    name: "Inventory",

    data: function () {
        return {
            products: [],
            product: {
                id:"",
                name:"",
                target:"",
                category:"",
                size:"",
                image:"",
                price:"",
                inventory:"",
                lastChange:""
            },
            isModalVisible: false
        };
    },
    apollo: {
        products: {
            query: gql`
                query {
                    products {
                        id
                        name
                        target
                        category
                        size
                        image
                        price
                        inventory
                        lastChange
                    }
                }
            `,
        },

    },

    methods: {
        async createProduct () {
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation ($product: ProductInput!) {
                            createProduct(product: $product) {
                                id
                                name
                                target
                                category
                                size
                                price
                                image
                                inventory
                                lastChange
                            }
                        }
                    `,
                    variables: {
                        product: this.product
                    },
                })
                .then((result) => {
                    this.closeModal();
                    alert("Producto agregado exitosamente.");
                })
                .catch((error) => {
                    alert("ERROR: No se pudo agregar el producto.");
                });

        },

        loadSales(){
            this.$emit("loadSales");
        },
        showModal() {
            this.isModalVisible = true;
        },
        closeModal() {
            this.isModalVisible = false;
        }
    },

    async created() {
        await this.$apollo.queries.products.refetch();
    },
};
</script>

<style>

.menu{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    width: 100%;
}

.menu button{
    font-weight: 600;
    width: 20%;
	font-size: 16px;
    color: crimson;
    padding: 8px;
	background-color:rgba(0, 0, 0, 0);
	border: 1px solid ;
    border-radius: 8px;
	cursor: pointer;
}

.menu button:hover{
    color: #fff;
	background-color: crimson;
}

.inventory{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.inventory .container-table{
    width:77%;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.inventory table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(59, 60, 63, 0.966);
}

.inventory table td,
.inventory table th {
    border: 1px solid rgb(12, 11, 11);
    padding: 8px;
}

.inventory table tr:nth-child(even) {
    background-color: #e1e5ee;
}

.inventory table tr:hover{
    background-color: #ddd;
}

.inventory table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: crimson;
    color: white;
}

.inventory h1{
    color: crimson;
    font-size: 40px;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #FFFFFF;
    width: 48%;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modal-header,
.modal-footer {
    padding: 15px;
    display: flex;
}

.modal-header {
    position: relative;
    border-bottom: 1px solid #eeeeee;
    color: #283747;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 600;
}

.modal-body {
    display: inline-block;
    justify-content: center;
    position: relative;
    padding: 20px 10px;
}

.modal input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #283747;
}

.modal-body button{
    width: 100%;
    height: 40px;
    color: #E5E7E9;
    cursor: pointer;
    background: #283747;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0;
}

.modal-body button:hover{
    color: #E5E7E9;
    background: crimson;
    border: 1px solid #283747;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 40px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    color: #c71120;
    background: transparent;
}

</style>