<template>
    <div class="logIn_user">
        <div class="container_logIn_user">
            <h1>INICIAR SESIÓN</h1>
            <form v-on:submit.prevent="processLogInUser" >
                <br>
                <br>
                <input type="email" v-model="user.email" placeholder="Correo">
                <br>
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                <br>
                <button type="submit">Iniciar Sesión</button>
            </form>
        </div>
        <div class="signup_beneficios">
            <h1>ÚNETE A DREAM-SHOES</h1>
            <p>Unete a DREAM-SHOES y disfruta de beneficos exclusivos:</p>
            <p>» Regalos de cumpleaños</p>
            <p>» Recompensas sorpresa</p>
            <p>» Promociones de envío</p>
            <br>
            <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
        </div>        
    </div>
</template>

<script>
import gql from "graphql-tag";
export default {
    name: "LogIn",
    data: function() {
        return {
            user: {
                email: "",
                password: "",
            },
        };
    },
    methods: {
        loadSignUp: function(){
              this.$router.push({name: "signUp"})
            },
        processLogInUser: async function() {
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation($credentials: CredentialsInput!) {
                            logIn(credentials: $credentials) {
                                refresh
                                access
                            }
                        }
                    `,
                    variables: {
                        credentials: this.user,
                    },
                })
                .then((result) => {
                    let dataLogIn = {
                        email: this.user.email,
                        token_access: result.data.logIn.access,
                        token_refresh: result.data.logIn.refresh,
                    };
                    this.$emit("completedLogIn", dataLogIn);
                })
                .catch((error) => {
                    alert("ERROR 401: Credenciales Incorrectas.");
                });
        },
    },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=PT+Sans:wght@700&display=swap');
.logIn_user{
    margin: 0;
    padding: 0;
    height: 80.5vh;

    display: flex;
    justify-content: left;
    margin-left: 10%;
    text-align: center;
}
.container_logIn_user {
    border: 5px solid #000000;
    width: 45%;
    height: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;

    position: relative;
    top: 20%;
}
.signup_beneficios{
    font-family: 'PT Sans', sans-serif;
    font-size: 120%;
    position: absolute;
    left: 55%;
    top: 30%;
    text-align: left;
}

.logIn_user h1{
    font-family: Bakbak One;
    color: #080808;
}
.logIn_user form{
    position: relative;
    width: 70%;
}
.logIn_user input{
    width: 100%;
    padding: .7em;
    background: none;
    border: none;
    outline: none;
    color:#000000;
    font-size: 120%;
    border-bottom: 2px solid #4472f0;
    margin: 10px 0;
}
.logIn_user button{
    width: 100%;
    background: #47acf0;
    color: #242424;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
}
.logIn_user button:hover{
    cursor: pointer;
    background: #5efa92;

    transition: .6s;
}
</style>