<template>
    <div id="Productos">

        <h1 class="h1">PRODUCTOS </h1>
        <br>

        <div class="products-container">
            <div v-for="(product, i) in products" :key="i">
                <div class="product-card">
                    <img :src="`${product.image}`"/>
                    <span>{{product.name}}</span><br>
                    Target: {{product.target}}<br>
                    Categoria: {{product.category}}<br>
                    <h3>${{product.price}} COP</h3>
                    <div class="buttons">
                        <button @click="buyProduct(product.id)">Comprar Ahora</button>
                        <button >Añadir al Carrito</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>


<script>
import gql from "graphql-tag";
export default {
    name: "Product",
    
    apollo: {
        products: {
            query: gql`
                query {
                    products {
                        id
                        name
                        target
                        category
                        size
                        price
                        image
                        inventory
                        lastChange
                    }
                }
            `,
            variables() {
                return {
                    name: this.name,
                };
            },
        },
    },

    methods: {
        buyProduct(productId){
            this.$emit('buyProduct', productId);
        }
    },

    created: function () {
        this.$apollo.queries.products.refetch();
    }
};
</script>



<style>

#Productos .h1{
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    min-height: 80vh;
}

.product-card {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 20px;
    margin: 20px;
    text-align: left;
    transition: all 0.25s;
    background-color: #fcfbf7;
}

.product-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.product-card img{
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
}

.product-card h4 {
    font-size: 20px;
    color: #283747;
}

.product-card span {
    color: crimson;
    font-weight: bold;
    font-size: large;
}

.product-card .buttons {
    display: flex;
    justify-content: space-around;
}

.product-card button{
    width: 120px;
    margin: auto;
    font-weight: 600;
    font-size: 16px;
    color: #287cea;
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid ;
    border-radius: 8px;
    cursor: pointer;
}

.product-card button:hover{
    color: #fff;
    background-color: #287cea;
}

</style>