<template>
    <div class="sales">


        <div class="menu">
            <button @click="loadInventory"> Inventario </button>   
        </div>

        <h1>Ventas</h1>

        <div class="container-table">
            <table>
                <tr>
                    <th># Factura</th>
                    <th>Cliente</th>
                    <th>Producto</th>
                    <th>Referencia Producto</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                </tr>
                <tr v-for="sale in salesInfo" :key="sale.id">
                    <td>{{ sale.id }}</td>
                    <td>{{ sale.client }}</td>
                    <td>{{ sale.productName }}</td>
                    <td>{{ sale.productId }}</td>
                    <td>{{ sale.productPrice }} COP</td>
                    <td>{{ sale.date.substring(0, 10) }}</td>
                    <td>{{ sale.date.substring(11, 19) }}</td>
                </tr>
            </table>
        </div>

    </div>
</template>

<script>
import gql from "graphql-tag";
import jwt_decode from "jwt-decode";

export default {
    name: "Sales",

    data: function () {
        return {
            salesInfo: []
        };
    },
    apollo: {
        sales: {
            query: gql`
                query {
                    sales {
                        id
                        userId
                        productId
                        date
                    }
                }
                `,
        },

    },

    methods: {
        async getSalesInfo() {
            for (let i=0; i<this.sales.length ; i++){
                
                let result = await this.$apollo
                .query({
                    query: gql`
                        query ($productId: String!){
                            productById (productId: $productId) {
                                id
                                name
                                price
                            }
                        }
                    `,
                    variables: {
                        productId: this.sales[i].productId
                    },
                })

                let saleInfo = {
                    id: this.sales[i].id,
                    date: this.sales[i].date,
                    client: this.sales[i].userId,
                    productId: result.data.productById.id,
                    productName: result.data.productById.name,
                    productPrice: result.data.productById.price,
                }

                result = await this.$apollo
                .query({
                    query: gql`
                        query ($productId: String!){
                            productById (productId: $productId) {
                                id
                                name
                                price
                            }
                        }
                    `,
                    variables: {
                        productId: this.sales[i].productId
                    },
                })

                this.salesInfo.push(saleInfo);
            }

        },

        loadInventory(){
            this.$emit("loadInventory");
        }
    },

    async created() {
        await this.$apollo.queries.sales.refetch();
        await this.getSalesInfo();
    },
};
</script>

<style>

.menu{
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
    width: 100%;
}

.menu button{
    font-weight: 600;
    width: 20%;
	font-size: 16px;
    color: crimson;
    padding: 8px;
	background-color:rgba(0, 0, 0, 0);
	border: 1px solid ;
    border-radius: 8px;
	cursor: pointer;
}

.sales{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3%;
}

.sales .container-table{
    width:77%;
    max-height: 50vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.sales table{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid rgba(59, 60, 63, 0.966);
}

.sales table td,
.sales table th {
    border: 1px solid rgb(12, 11, 11);
    padding: 8px;
}

.sales table tr:nth-child(even) {
    background-color: #e1e5ee;
}

.sales table tr:hover{
    background-color: #ddd;
}

.sales table th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: crimson;
    color: white;
}

.sales h1{
    color: crimson;
    font-size: 40px;
}

</style>