<template>
    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2>UNIRME GRATIS</h2>
            <form v-on:submit.prevent="processSignUp" >
                <h3>TU NOMBRE</h3>
                <input type="text" v-model="user.name" placeholder="Nombre">
                <br>
                <input type="text" v-model="user.lastName" placeholder="Apellido">
                <br>
                <h3>DATOS DE ACCESO</h3>
                <input type="email" v-model="user.email" placeholder="Correo">
                <br>
                <input type="password" v-model="user.password" placeholder="Contraseña">
                <br>
                <input type="text" v-model="user.Rol" placeholder="Rol">
                <br>
                <button type="submit">Registrarse</button>
            </form>
            <div class="signup_beneficios">
                <h1>BENEFICIOS DREAM-SHOES</h1>
                <p>Unete a DREAM-SHOES y disfruta de beneficos exclusivos:</p>
                <p>» Regalos de cumpleaños</p>
                <p>» Recompensas sorpresa</p>
                <p>» Promociones de envío</p>
                <br>
            </div>            
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";
export default {
    name: "SignUp",
    data: function() {
        return {
            user: {
                password: "",
                name: "",
                lastName: "",
                email: "",
                Rol: "",
            },
        };
    },
    methods: {
        processSignUp: async function() {
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation($userInput: SignUpInput!) {
                            signUpUser(userInput: $userInput) {
                                refresh
                                access
                            }
                        }
                    `,
                    variables: {
                        userInput: this.user,
                    },
                })
                .then((result) => {
                    let dataLogIn = {
                        email: this.user.email,
                        token_access: result.data.signUpUser.access,
                        token_refresh: result.data.signUpUser.refresh,
                    };
                    this.$emit("completedSignUp", dataLogIn);
                })
                .catch((error) => {
                    alert("ERROR: Fallo en el registro.");
                });
        },
    },
}
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bakbak+One&family=PT+Sans:wght@700&family=Russo+One&display=swap');
.signUp_user{
    margin: 0;
    padding: 0%;
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.container_signUp_user {
    border: none;
    background-color: white;
    border-radius: 15px;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.signup_beneficios{
    font-family: 'PT Sans', sans-serif;
    font-size: 120%;
    position: absolute;
    left: 55%;
    top: 30%;
    text-align: left;
}
.signUp_user h2{
    width: 70%;
    font-size: 200%;
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}
.signUp_user h3{
    font-family: 'PT Sans', sans-serif;
    color: #000000;
}
.signUp_user form{
    width: 70%;
}
.signUp_user input{
    font-size: 120%;
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #283747;
}
.signUp_user button{
    width: 100%;
    background: #47acf0;
    color: #242424;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    font-size: 18px;
    
    border: none;
    padding: 20px 25px;
    margin-top: 20px;
}
.signUp_user button:hover{
    cursor: pointer;
    background: #5efa92;

    transition: .6s;
}
</style>