<template>
    <div class="update_user">
        <div class="container_update_user">
            <h2>Actualizar datos</h2>
            <form v-on:submit.prevent="processUpdate" >
                <input type="number" v-model="userUpdate.id" placeholder="id">
                <br>
                <input type="password" v-model="userUpdate.password" placeholder="Contraseña">
                <br>
                <input type="text" v-model="userUpdate.name" placeholder="Nombre">
                <br>
                <input type="text" v-model="userUpdate.lastName" placeholder="Apellido">
                <br>
                <input type="text" v-model="userUpdate.Rol" placeholder="Vendedor o Comprador">
                <br>
                <button type="submit">Actualizar</button>
            </form>
        </div>
    </div>
</template>

<script>
import gql from "graphql-tag";
export default {
    name: "UpdateUser",
    data: function() {
        return {
            userUpdate: {
                id: "",
                password: "",
                name: "",
                lastName: "",
                Rol: "",
            },
        };
    },
    methods: {
        processUpdate: async function() {
            if (localStorage.getItem("token_access") === null ||
                localStorage.getItem("token_refresh") === null ) {
                this.$emit("logOut");
                return;
            }
            localStorage.setItem("token_access", "");
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation ($refresh: String!) {
                            refreshToken(refresh: $refresh) {
                                access
                            }
                        }
                    `,
                    variables: {
                        refresh: localStorage.getItem("token_refresh"),
                    },
                })
                .then((result) => {
                    localStorage.setItem("token_access", result.data.refreshToken.access);
                })
                .catch((error) => {
                    this.$emit("logOut");
                    return;
                });
            await this.$apollo
                .mutate({
                    mutation: gql`
                        mutation ($userUpdate: UserUpdate!) {
                            updateUser(userUpdate: $userUpdate) {
                                id
                                password
                                name
                                lastName
                                email
                                Rol
                            }
                        }
                    `,
                    variables: {
                        userUpdate: this.userUpdate,
                    },
                })
                .then((result) => {
                    alert("Actualización Realizada de Manera Correcta");
                    this.$emit("loadHome");
                })
                .catch((error) => {
                    alert("ERROR: No se pudo actualizar la información.");
                });
        },
    },
};
</script>

<style>
.update_user{
    margin: 0;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_update_user {
    border: 3px solid #283747;
    background-color: rgba(94, 94, 124, 0.479);
    border-radius: 15px;
    width: 25%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.update_user h2{
    color: #e3ebf3;
}
.update_user form{
    width: 70%;
}
.update_user input{
    height: 40px;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 20px;
    margin: 5px 0;
    border: 1px solid #283747;
}
.update_user button{
    width: 100%;
    height: 40px;
    color: #E5E7E9;
    background: #283747;
    border: 1px solid #E5E7E9;
    border-radius: 5px;
    padding: 10px 25px;
    margin: 5px 0 25px 0;
}
.update_user button:hover{
    color: #E5E7E9;
    background: rgba(57, 20, 220, 0.596);
    border: 1px solid #283747;
}
</style>