<template>
  <div id="app" class="app">
    <div class="header">
      <h1 v-on:click="loadHome"> DREAM SHOES </h1>
      <br>
      <h3> El calzado para tu estilo </h3>
      <nav>
        <button v-if="is_auth" v-on:click="loadHome"> Inicio </button>
        <button v-if="is_auth" v-on:click="loadProduct"> Productos </button>
        <button v-if="is_auth" v-on:click="loadInventory"> Inventario </button>
        <button v-if="is_auth" v-on:click="loadDelivery"> Pedidos </button>
        <button v-if="is_auth" v-on:click="logOut"> Cerrar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadLogIn" > Iniciar Sesión </button>
        <button v-if="!is_auth" v-on:click="loadSignUp" > Registrarse </button>
      </nav>
    </div>
    <div class="main-component">
      <router-view
        v-on:completedLogIn="completedLogIn"
        v-on:completedSignUp="completedSignUp"
        v-on:logOut="logOut"
        v-on:buyProduct="buyProduct"
        v-on:loadHome="loadHome"
        v-on:loadSales="loadSales"
        v-on:loadInventory="loadInventory"
        v-on:loadUpdateUser="loadUpdateUser"
      >
      </router-view>
    </div>
    <div class="footer">
      <h2>Proyecto Ciclo 4 P34 Grupo 3 Misión TIC 2022</h2>
    </div>
  </div>
</template>

<script>
export default {
  name: 'App',

  computed: {
    is_auth: {
      get: function() {
        return this.$route.meta.requiresAuth;
      },
      set: function() { }
    },
  },

  methods:{
    loadLogIn: function(){
      this.$router.push({name: "logIn"})
    },
    loadSignUp: function(){
      this.$router.push({name: "signUp"})
    },
    completedLogIn: function(data) {
      localStorage.setItem("email", data.email);
      localStorage.setItem("token_access", data.token_access);
      localStorage.setItem("token_refresh", data.token_refresh);
      alert("Autenticación Exitosa");
      this.loadHome();
    },
    completedSignUp: function(data) {
      alert("Registro Exitoso");
      this.completedLogIn(data);
    },
    loadHome: function() {
      this.$router.push({ name: "home" });
    },
    loadProduct: function () {
      this.$router.push({ name: "product" });
    },
    loadDelivery: function(){
      this.$router.push({ name: "delivery" });
    },
    logOut: function () {
      localStorage.clear();
      alert("Sesión Cerrada");
      this.loadLogIn();
    },
    buyProduct: function (productId) {
      this.$router.push( {path: `/user/product/buy/${productId}` } );
    },
    loadSales: function () {
      this.$router.push({ name: "sales" });
    },
    loadInventory: function () {
      this.$router.push({ name: "inventory" });
    },
    loadUpdateUser: function(){
        this.$router.push({ name: "updateuser" });
    }
  }
}
</script>


<style>
  .header img{
    max-width: 15%;
    margin: 2%;
  }

  body{
    margin: 0 0 0 0;
  }

  .header{
    margin: 0%;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #dee4eb ;
    color:#E5E7E9 ;
    display: flex;

    justify-content:space-between;
    align-items: center;
  }

  .header h1{
    width: 20%;
    text-align: center;
    font-family: cursive;
    cursor: pointer;
  }

  .header h3{
    background: linear-gradient(to right, #3aa5e2 0%, #3aa5e2 60%, #e23d3d 60%, #e23d3d 100% );
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 20%;
    font-size: 140%;
  }

  .header nav {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
  }

  .header nav button{
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-weight: bolder;
    color: #3d75ec;
    padding: 10px 20px;
    font-size: 18px;
  }

  .header nav button:hover{
    color: #ee1d5c;
    transition: .5s;
    text-decoration: underline red;
    border-radius: 8%;
  }

  .main-component{
    min-height: 80vh;
    margin: 0%;
    padding: 0%;
    overflow-y: scroll;
    background-image: url("https://poligran-my.sharepoint.com/:i:/r/personal/ambuitrago_poligran_edu_co/Documents/Fondo.jpg?csf=1&web=1&e=EjaJmK");
    background-size: 100%;
    /* url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png"); */
  }

  .footer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 10vh;
    min-height: 100px;
    background-color: #dee4eb;
    color: #0c0d0e;
  }

  .footer h2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>